<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Accuracy Detail</title>

  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/style_animation.css">
  <link rel="stylesheet" type="text/css" href="/public/css/mystyle.css">

  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400" rel="stylesheet">
</head>
<body>
  <div id="header-menu"></div>

  <div class="container-fluid ">
    <div class="lato">
      <h2> Accuracy </h2>
      <h3>Accuracy measures provide the degree to which data has attributes that correctly
        represent the true value of the intendet attribute of a concept or event in a specific context of use.
      </h3>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-4">
        <h3></h3>
      </div>
    <div id="select-all">
  </div>
  </div>
    <div id="accuracy-tmp">
      <div  id="syntactic" class="hidden-menu">
        <div class="row top-buffer">
          <div class=" col-sm-2">
            <h5>Syntactic</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <h3>Ratio of closeness of the data values to a set of values defined in a domain</h3>
          </div>
          <div id="field-render-syntactic">
          </div>
        </div>

        <div id="semantic" class="hidden-menu">
          <div class="row top-buffer">
            <div class=" col-sm-2">
              <h5>Semantic</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <h3>Ratio of closeness of the data values to a set of values defined in a domaratio of how accurate are the data values in terms of semantics in a specific context</h3>
            </div>
            <div  id="field-render-semantic">
            </div>
          </div>
        </div>

        <div class="hidden-menu"  id="data-assurance">
          <div class="row top-buffer">
            <div class=" col-sm-2">
              <h5>Data Assurance</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <h3>ratio of measurement coverage for accurate data</h3>
            </div>
            <div id="field-render-data-assurance">
            </div>
          </div>
        </div>

        <div class="hidden-menu"  id="risk">
          <div class="row top-buffer">
            <div class=" col-sm-2">
              <h5>Risk of data set inaccuracy</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <h3>the number of outliers in values is indicating a risk of inaccuracy for data values in a data set</h3>
            </div>
            <div  id="field-render-risk">

            </div>
          </div>
        </div>
        <div class="row top-buffer">
          <div class=" col-sm-offset-5 col-sm-2 down-buffer">
         <button id="ok" type="button" onclick="" class="semi-transparent-button large lato ">OK</button>
</div>
          </div>
        </div>
  </div>
        <div id="hidden-template" style="display:none">
          </div>
          <div id="hidden-template-all" style="display:none" >
        </div>

      <!--End of container !-->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>  $("#header-menu").load("/views/template/header.html", function() {
      $("#menu-upload").removeClass("hidden-menu");
      $("#menu-measure").removeClass("hidden-menu");
    });

    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>

    <script>
    var objectData =[ {"accuracy":["syntactic","semantic","data-assurance","risk"]},
    {"completness":["record","attribute","completness"]},
    {"consistency":["Integrity"]},
    {"credibility":["Values","Source credibility"]},
    {"compliance":["Regulatory"]},
  ];

  var classes =
  {"accuracy":
  [{"syntactic":"Ratio of closeness of the data values to a set of values defined in a domain"},
  {"semantic":"Ratio of closeness of the data values to a set of values defined in a domain"},
  {"data-assurance":"Ratio of closeness of the data values to a set of values defined in a domain"},
  {"risk":"Ratio of closeness of the data values to a set of values defined in a domain"},
],
"completness": []
}
var accuracy_fields={"syntactic":["ID","NAME","EMAIL"], "semantic":["ID"], "data-assurance":["EMAIL"],"risk":["NAME"]}

var list_field=["ID","NAME","DATE","EMAIL"]

var current = window.location.pathname.replace("/measure/","");
var shapeResult={"syntactic":[], "semantic":[], "data-assurance":[],"risk":[]}


/*for (var k in classes[current]) {
var field = Object.keys(classes[current][k])[0];
console.log(accuracy_fields[field])
}*/

function drawTemplate () {
  $("#hidden-template").load("/views/template/field-tmp.html", function(res, status, xhr) {
    var template = document.getElementById('field-tmp').innerHTML;
    //LOOP that cycles on different type of measurements (Syntactic, Semanc)
    for (var k in classes[current]){
      var field = Object.keys(classes[current][k])[0];
      for(var i=0; i<list_field.length; i++)
      {
        var output = Mustache.render(template,{"value":list_field[i],"field":field});
        $("#field-render-"+field).append(output);
        var target="#"+field+"-"+list_field[i]
        //Remove opacity for fields that can't be measured and for the others add the title
        if(accuracy_fields[field].includes(list_field[i]))
        {
          $(target).removeClass("opacity")
          $(target+"-box").prop("disabled", false)

        }
        else {
          $(target).prop('title', 'Can\'t choose this option');

        }
      }
    }

  })
}
function drawTemplateAll () {
  $("#hidden-template-all").load("/views/template/field-tmp-all.html", function(res, status, xhr) {
    var temp = document.getElementById('field-tmp-all').innerHTML;
    for(var i=0; i<list_field.length; i++)
    {
        var output = Mustache.render(temp,{"value":list_field[i]});
        $("#select-all").append(output);
    }
  })
}
$('document').ready( function (){

  drawTemplate();
  drawTemplateAll();
  for(var i=0;i<objectData[0].accuracy.length;i++)
  {

    $("#"+objectData[0].accuracy[i]).removeClass("hidden-menu");
  }

})
//Press a select-all button
$("#select-all").on('click',".select-all",function(){
  var name=$(this).closest('div').attr('id')
  name=name.split("-")[0]
  var tocheck=$("body").find(".check-"+name)

  if($('#-'+name+'-box-ALL').is(":checked"))
  {
    for(t in tocheck)
    {
      if(!tocheck[t].disabled)
        tocheck[t].checked=true
    }
  }
  else {
    for(t in tocheck)
    {
      if(!tocheck[t].disabled)
        tocheck[t].checked=false
    }
  }
})


$('[id^="field-render-"]').click(function(){

  var id=$(this).children().children().attr('id')
  /*var id=$(this).attr('id')
  field=$("#"+id+" :input")[0].id;
  var measure=$(this).closest('div').attr('id')
  measure=measure.split("-")[2]
  alert(id+" "+field)*/
})
//Check all the values in the checkbox and modify the shapeResult object
$("#ok").click(function(){
  var tocheck=$("#accuracy-tmp").find("input[type=checkbox]")
  var value;
  var field;
  var temp;
  console.log(shapeResult)
  for(t in tocheck)
  {
    var id=tocheck[t].id
    if($("#"+id).is(":checked"))
      {
          temp=id.split("-")
          value=temp[0]
          field=temp[1]
          shapeResult[value][field];
      }

      if(!tocheck[t].disabled && !$("#"+id).is(":checked"))
      {
        temp=id.split("-")
        value=temp[0]
        field=temp[1]
        delete  shapeResult[value][field]
      }

      $.ajax({
        type: 'POST',
        url: 'http://localhost:8070/load',
        data: shapeResult,
        success: function(msg){
        }})

  }

  });



</script>



</body>
</html>
