  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Available Measurements</title>

    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style_animation.css">
    <link rel="stylesheet" type="text/css" href="/public/css/mystyle.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400" rel="stylesheet">
  </head>
  <body>
    <div id="header-menu">
    </div>


    <div class="container-fluid ">

      <div class="row top-buffer">
        <div class="col-sm-offset-1 col-sm-5">
            <div class="radar-chart"></div>
        </div>
        <div class="col-sm-offset-1 col-sm-4">
          <div class="lato justified-small">
          <h2> DATA VISUALIZATION </h2>
            <h3>In this page you can find the reusults related to the measurements. The data length of a spoke is proportional to the magnitude of the variable for the data point relative to the maximum magnitude of the variable across all data points.. A line is drawn connecting the data values for each spoke.</h3>
              <h3>Click on the details buttons  below to have more information:</h3>
            </h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-3">
          <h2>ACCURACY</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
          <div class="hr"></div>
        </div>
        <div class="col-sm-offset-1 col-sm-4">
          <div id="accuracy_npossible"><h3>MEASUREMENT IMPOSSIBLE TO PERFORM</h3></div>
          <button id="accuracy_show" type="button"  class="semi-transparent-button large lato down-buffer show-button hidden-menu">SHOW DETAILS</button>
          <button id="accuracy_hide" type="button"  class="semi-transparent-button large lato down-buffer hide-button hidden-menu">HIDE DETAILS</button>

        </div>
      </div>

      <div id="accuracy" class="row lato">
        <div class="col-sm-offset-2 col-sm-5">
          <div  class="accuracy_graph left-buffer">
          </div>
        </div>
        <div class="col-sm-offset-0 col-sm-4 p">
          <p id="accuracy-description" class="justified top-buffer"></p>
          <center><div id="odometer" class="odometer">
          </div></center>
          <center><h3>  MEASURED DATAPOINTS</h3></center>
          <div class="top-buffer">
            <center>
              <button type="button" onclick="location.href='/datavisualization/accuracy';" class="semi-transparent-button large lato upload ">SHOW VALUES FOR FIELDS</button>
            </center>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-3">
          <h2>COMPLETNESS</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
          <div class="hr"></div>
        </div>
        <div class="col-sm-offset-1 col-sm-3">
          <div id="completness_npossible"><h3>MEASUREMENT IMPOSSIBLE TO PERFORM</h3></div>
          <button id="completness_show" type="button"  class="semi-transparent-button large lato down-buffer show-button hidden-menu">SHOW DETAILS</button>
          <button id="completness_hide" type="button"  class="semi-transparent-button large lato down-buffer hide-button hidden-menu">HIDE DETAILS</button>
        </div>
      </div>
      <div id="completness" class="row lato">
        <div class="col-sm-offset-2 col-sm-5">
          <div  class="completness_graph left-buffer">
          </div>
        </div>
        <div class="col-sm-offset-0 col-sm-4 lato">
          <h3><div id="completness-description" class="top-buffer">
          </div></h3>
          <div class="top-buffer">
            <center>
              <button type="button" onclick="location.href='/datavisualization/completness';" class="semi-transparent-button large lato upload ">SHOW VALUES FOR FIELDS</button>
            </center>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-3">
          <h2>CONSISTENCY</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
          <div class="hr"></div>
        </div>
          <div class="col-sm-offset-1 col-sm-3">
            <div id="consistency_npossible"><h3>MEASUREMENT IMPOSSIBLE TO PERFORM</h3></div>
            <button id="consistency_show" type="button"  class="semi-transparent-button large lato down-buffer show-button hidden-menu">SHOW DETAILS</button>
            <button id="consistency_hide" type="button"  class="semi-transparent-button large lato down-buffer hide-button hidden-menu">HIDE DETAILS</button>
          </div>
        </div>


      <div id="consistency" class="row lato">
        <div class="col-sm-offset-2 col-sm-5">
          <div  class="consistency_graph left-buffer">
          </div>
        </div>
        <div class="col-sm-offset-0 col-sm-4 lato">
        <h3>  <div id="consistency-description" class="top-buffer">
        </div></h3>
            <div class="top-buffer">
            <center>
              <button type="button" onclick="location.href='/datavisualization/consistency';"class="semi-transparent-button large lato upload ">SHOW VALUES FOR FIELDS</button>
            </center>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-3">
          <h2>CREDIBILITY</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
          <div class="hr"></div>
        </div>
        <div class="col-sm-offset-1 col-sm-3">
          <div id="credibility_npossible"><h3>MEASUREMENT IMPOSSIBLE TO PERFORM</h3></div>
          <button id="credibility_show" type="button"  class="semi-transparent-button large lato down-buffer show-button hidden-menu">SHOW DETAILS</button>
          <button id="credibility_hide" type="button"  class="semi-transparent-button large lato down-buffer hide-button hidden-menu">HIDE DETAILS</button>
        </div>
      </div>
      <div id="credibility" class="row lato">
        <div class="col-sm-offset-2 col-sm-5">
          <div  class="credibility_graph left-buffer">
          </div>
        </div>
        <div class="col-sm-offset-0 col-sm-4 lato">
          <h3><div id="credibility-description" class="top-buffer">
          </div></h3>
          <div class="top-buffer">
            <center>
              <button type="button" onclick="location.href='/datavisualization/credibility';" class="semi-transparent-button large lato upload ">SHOW VALUES FOR FIELDS</button>
            </center>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-3">
          <h2>COMPLIANCE</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
          <div class="hr down-buffer"></div>
        </div>
        <div class="col-sm-offset-1 col-sm-3">
          <div id="compliance_npossible"><h3>MEASUREMENT IMPOSSIBLE TO PERFORM</h3></div>
          <button id="compliance_show" type="button"  class="semi-transparent-button large lato down-buffer show-button hidden-menu">SHOW DETAILS</button>
          <button id="compliance_hide" type="button"  class="semi-transparent-button large lato down-buffer hide-button hidden-menu">HIDE DETAILS</button>
        </div>
      </div>

      <div id="compliance" class="row lato">
        <div class="col-sm-offset-2 col-sm-5">
          <div  class="compliance_graph left-buffer">
          </div>
        </div>
        <div class="col-sm-offset-0 col-sm-4 lato">
          <h3><div id="compliance-description" class="lato h2">
          </div></h3>
          <div class="top-buffer">
            <center>
              <button type="button" onclick="location.href='/datavisualization/compliance';" class="semi-transparent-button large lato upload ">SHOW VALUES FOR FIELDS</button>
            </center>
          </div>
        </div>
      </div>


    </div> <!--Container!-->


  </body>
  </html>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.js"></script>
  <script type="text/javascript" src="../public/js/radar.js"></script>
  <script type="text/javascript" src="/public/js/measures_result.js"></script>
  <script type="text/javascript" src="/public/js/bar_chart.js"></script>
  <script type="text/javascript" src="/public/js/object.js"></script>
  <!-- Odometr includes -->
  <link rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-default.css" />
  <script src="http://github.hubspot.com/odometer/odometer.js"></script>


  <script>  $("#header-menu").load("/views/template/header.html", function() {
    $("#menu-upload").removeClass("hidden-menu");
    $("#menu-measure").removeClass("hidden-menu");
    $("#data-visualization").removeClass("hidden-menu");

  });</script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script>

  $('document').ready( function (){
    $("#accuracy").addClass("hidden-menu")
    $("#completness").addClass("hidden-menu")
    $("#consistency").addClass("hidden-menu")
    $("#credibility").addClass("hidden-menu")
    $("#compliance").addClass("hidden-menu")
    $("#accuracy-description").append(definition[initialDict.accuracy].description)
    $("#completness-description").append(definition[initialDict.completness].description)
    $("#consistency-description").append(definition[initialDict.consistency].description)
    $("#credibility-description").append(definition[initialDict.credibility].description)
    $("#compliance-description").append(definition[initialDict.compliance].description)


    for(t in data)
    {
        $("#"+t+"_show").removeClass("hidden-menu")
        $("#"+t+"_npossible").addClass("hidden-menu")
    }
  })

  $("body").on('click',".show-button",function(){
    var field=this.id.split("_")
    field=field[0]
    $("#"+field).removeClass("hidden-menu").fadeIn( "slow" )
    $("#"+field+"_show").addClass("hidden-menu")
    $("#"+field+"_hide").removeClass("hidden-menu")
    setTimeout(function(){
      odometer.innerHTML = 456;
  }, 100);

  })

  $("body").on('click',".hide-button",function(){
    var field=this.id.split("_")
    field=field[0]
    $("#"+field).addClass("hidden-menu")
    $("#"+field+"_show").removeClass("hidden-menu")
    $("#"+field+"_hide").addClass("hidden-menu")
    odometer.innerHTML =0;
  })

  for(var t in data)
  {
        var div = d3.select("body").append("div").attr("class", "toolTip");
        var axisMargin = 20,
        margin = 40,
        valueMargin = 4,
        width =550,
        height =500,
        barHeight = (height-axisMargin-margin*2)* 0.4/data[t].length,
        barPadding = (height-axisMargin-margin*2)*0.6/data[t].length,
        data, bar, svg, scale, xAxis, labelWidth = 0;

        max = d3.max(data[t], function(d) { return d.value; });
        svg = d3.select("."+t+"_graph")
        .append("svg")
        .attr("width", width)
        .attr("height", height);


        bar = svg.selectAll("g")
        .data(data[t])
        .enter()
        .append("g");

        bar.attr("class", "bar")
        .attr("cx",0)
        .attr("transform", function(d, i) {
          return "translate(" + margin + "," + (i * (barHeight + barPadding) + barPadding) + ")";
        });

        bar.append("text")
        .attr("class", "label")
        .attr("y", barHeight / 2)
        .attr("dy", ".35em") //vertical align middle
        .text(function(d){
          return d.label;
        }).each(function() {
          labelWidth = Math.ceil(Math.max(labelWidth, this.getBBox().width));
        });

        scale = d3.scale.linear()
        .domain([0, 100])
        .range([0, width - margin*2 - labelWidth]);

        xAxis = d3.svg.axis()
        .scale(scale)
        .tickSize(-height + 2*margin + axisMargin)
        .orient("bottom");

        bar.append("rect")
        .attr("transform", "translate("+labelWidth+", 0)")
        .attr("height", barHeight)
        .attr("width", function(d){
          return scale(d.value);
        });

        bar.append("text")
        .attr("class", "value")
        .attr("y", barHeight / 2)
        .attr("dx", -valueMargin + labelWidth) //margin right
        .attr("dy", ".35em") //vertical align middle
        .attr("text-anchor", "end")
        .text(function(d){
          return (d.value+"%");
        })
        .attr("x", function(d){
          var width = this.getBBox().width;
          return Math.max(width + valueMargin, scale(d.value));
        });
        bar
                   .on("mousemove", function(d){
                       div.style("left", d3.event.pageX+10+"px");
                       div.style("top", d3.event.pageY-25+"px");
                       div.style("display", "inline-block");
                       div.html((d.label)+"<br>"+(d.value)+"%");
                   });
           bar
                   .on("mouseout", function(d){
                       div.style("display", "none");
                   });

           svg.insert("g",":first-child")
                   .attr("class", "axisHorizontal")
                   .attr("transform", "translate(" + (margin + labelWidth) + ","+ (height - axisMargin - margin)+")")
                   .call(xAxis);


  }



  </script>
  <style>
  #xaxis .domain {
    fill:none;
    stroke:#000;
  }
  #xaxis text, #yaxis text {
    font-size: 12px;
  }
  .radar-chart .area {
    fill-opacity: 0.7;
  }
  .radar-chart.focus .area {
    fill-opacity: 0.3;
  }
  .radar-chart.focus .area.focused {
    fill-opacity: 0.9;
  }
  .area.accuracy {
    fill: blue;
    stroke: none;
  }
  .area.completness{
    fill: #ADD8E6;
    stroke: none;
  }
  .area.credibility{
    fill: #00ffbb;
    stroke: none;
  }
  .area.consistency{
    fill: #d2a5ff;
    stroke: none;
  }


  svg {
    width: 100%;
    height: 100%;
    position: center;
  }

  .toolTip {
    font-family: 'Lato', sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
  }

  text {
    font-family: 'Lato', sans-serif;
    color: white;
  }
  text.label{
      font-family: 'Lato', sans-serif;
      fill: black;
      font-size: 18px;
      font-weight: inherit;
  }
  text.value {
    font-size: 120%;
    fill: white;
  }

  .axisHorizontal path{
    fill: none;
  }

  .axisHorizontal .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
  }

  .bar {
    fill: steelblue;
    fill-opacity: .9;
  }

  </style>
