<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Available Measurements</title>

      <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/public/css/style_animation.css">
      <link rel="stylesheet" type="text/css" href="/public/css/mystyle.css">
      <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400" rel="stylesheet">
   </head>
   <body>
     <div id="header-menu"></div>

  <div class="container-fluid ">
    <div class="lato">
       <h3>In this page you can find all the possible type of measurements you can perform.
         <p>Click on the respective button to find more details. If you want to improve the performance of the measurement go back in the main page and add some more metadata</p></h3>
    </div>
    <div id="measurement"></div>

    <div id="av-measurement" style="display:none"></div>


  </div><!--Container!-->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>  $("#header-menu").load("/views/template/header.html", function() {
        $("#menu-upload").removeClass("hidden-menu");
        $("#menu-measure").removeClass("hidden-menu");
      });</script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script>
var objectData =[ {"accuracy":"1", "completness":"2","consistency":"3","credibility":"4","compliance":"5"}];
function drawTemplate () {
  $("#av-measurement").load("/views/template/available.html", function(res, status, xhr) {
      var template = document.getElementById('available').innerHTML;
      for (var i=0; i<objectData.length; i++)
      {
      var output = Mustache.render(template, objectData[i]);
      $("#measurement").append(output);
    }



  })
}
$('document').ready( function (){

  drawTemplate();
})
</script>

</body>
</html>
