<div id="field-tmp">
  <div id="{{value}}" class=" col-sm-1">
    <label class="checkbox-inline lato"><input type="checkbox" value="">{{value}}</label>
  </div>
  <div class=" col-sm-1">
    <label class="checkbox-inline lato "><input type="checkbox" value="">{{value}}</label>
  </div>
  <div class=" col-sm-1">
    <label class="checkbox-inline lato"><input type="checkbox" value="">{{value}}</label>
  </div>
  <div class=" col-sm-1">
    <label class="checkbox-inline lato"><input type="checkbox" value="">{{value}}</label>
  </div>
  <div class=" col-sm-1">
    <label class="checkbox-inline lato"><input type="checkbox" value="">{{value}}</label>
  </div>
</div>
