<div id="form-block">
  <div class="container-fluid ">
    <div id={{name}} class="row top-buffer form-container">
      <div class=" col-sm-2">
        <div class="select" id="select">
          <select id="{{form}}">
            <option value="hide">-- Meta Data --</option>
            <option value="Data type" rel="icon-temperature">Data Type</option>
            <option value="Max Exclusive">Max Exclusive</option>
            <option value="Min Exclusive">Min Exclusive</option>
            <option value="Measure">Measure</option>
          </select>
        </div>
      </div>

      <div class=" col-sm-3 string" >
        <form id="tfnewsearch" method="get" action="">
          <input id="tfnewsearch0" type="text" class="tftextinput" name="q" size="21" maxlength="120" >
        </form>
        <div class="tfclear"></div>
      </div>
      <button id="confirm-{{name}}" type="button" class="confirm-button semi-transparent-button large lato upload">CONFIRM</button>
      <button id="remove-{{name}}" type="button" class="remove-button semi-transparent-button large lato upload">REMOVE</button>
    </div>
  </div>
