<div id="form-template">
  <div class="row top-buffer">

     <div class=" col-sm-3">
        <h2><u>{{name}}</u></h2>
  </div>
  </div>
  <div class="show">
  <div class="row">
    <div class=" col-sm-2">
      <div class="select">
          <select id="id">
              <option value="hide">-- Meta Data --</option>
              <option value="Data type" rel="icon-temperature">Data Type</option>
              <option value="Max Exclusie">Max Exclusive</option>
          </select>
        </div>
      </div>

          <div class=" col-sm-3 string" >
            <form id="tfnewsearch" method="get" action="">
                    <input id="tfnewsearch0" type="text" class="tftextinput" name="q" size="21" maxlength="120" >
            </form>
          <div class="tfclear"></div>
          </div>
    </div>
    <div class="row top-buffer down-buffer">
      <div class="col-sm-offset-0 col-sm-5">
        <button id="button-{{name}}" type="button" class="show-button semi-transparent-button large lato upload">ADD THE METADATA</button>
      </div>
  </div>
  <div class="row">
    <div id="form-button-{{name}}">
    </div>
  </div>
  </div>
</div>
